<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nasaspacechallenge2018">

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".Activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".Activity.Play2DActivity"/>

        <activity android:name=".Activity.Play3DActivity"/>

        <activity android:name=".Activity.SettingsActivity"/>
        <activity android:name=".Activity.PlayVRActivity">

            <intent-filter>
                <category android:name="com.google.intent.category.CARDBOARD" />
            </intent-filter>
        </activity>


    </application>

</manifest>